html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    overflow: hidden;
    display: block;
    background-color: #292b2c;
}

.navbar {
    margin-bottom: 0;
}

.canvas {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f3f3f3;
}

div#mouse {
    border-radius: 50%;
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: blue;
}

.paleta-ferramentas-center {
    width: 100%;
}

.paleta-ferramentas {
    position: fixed;
    bottom: 5px;
    margin: 0 auto;
    width: 60%;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.icon {
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    font-size: 0;
    text-align: center;
    margin: 0px auto;
}

.icon-mouse {
    background: url("../icons/select.png") center center/25px no-repeat;
    margin-left: -4px;
}

.icon-delete {
    background: url("../icons/delete.png") center center/25px no-repeat;
    margin-left: -4px;
}

.icon-triangle {
    background: url("../icons/triangle.png") center center/25px no-repeat;
    margin-left: -4px;
}

.icon-square {
    background: url("../icons/square.png") center center/25px no-repeat;
    margin-left: -4px;
}

.icon-pentagon {
    background: url("../icons/pentagon.png") center center/25px no-repeat;
    margin-left: -4px;
}

.icon-hexagon {
    background: url("../icons/hexagon.png") center center/25px no-repeat;
    margin-left: -4px;
}

.icon-regular {
    background: url("../icons/regular.png") center center/25px no-repeat;
    margin-left: -4px;
}

.icon-freehand {
    background: url("../icons/freehand.png") center center/25px no-repeat;
    margin-left: -4px;
}